;; shadow-cljs configuration
{:source-paths
 ["src/"]

 :dependencies
 []

 :builds
 {:extension {:target :node-library
              :output-to "clojure-test.novaextension/Scripts/core.js"
              :exports-var hello-nova.core/main}}}
